<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ذبائح الشمال</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ذبح الشمال</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSApplicationCategoryType</key>
	<string>Zabayeh needs this permission</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Zabayeh needs this permission</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Zabayeh needs this permission</string>
	<key>NSCameraUsageDescription</key>
	<string>يحتاج التطبيق لصلاحية الوصول للكاميرا لادراج صورة لايصال الدفع</string>
	<key>NSContactsUsageDescription</key>
	<string>Zabayeh needs this permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق لصلاحية GPS لتحديد العنوان</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>يحتاج التطبيق لصلاحية GPS لتحديد العنوان</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق لصلاحية GPS لتحديد العنوان</string>
	<key>NSMotionUsageDescription</key>
	<string>Zabayeh needs this permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يحتاج التطبيق لصلاحية الوصول للصور لادراج صورة لايصال الدفع</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Zabayeh needs this permission</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
